<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Default Title{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'css/js/main.js' %}" defer></script>

</head>
<body>
    <nav> 
        <a href="/">Home icon</a>
        <a href="/about">About icon</a>
        <a href="{% url 'post_list' %}">posts icon</a>
    </nav>
    <main>
        {% block content %}
        Default Content
        {% endblock %}
</body>
</html>