* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: black;
	color: whitesmoke;
	font-size: 3rem;
	display: flex;
	flex-flow: column;
}

nav {
	padding: 1rem;
	background-color: #44b78b;
	color: white;
	font-size: 2.5rem;
}

main {
	flex-grow: 1;
	display: grid;
	place-content: center;
}

h1,
p {
	text-align: center;
}

a {
	text-decoration: none;
	color: #81dbb8;
}

a:hover {
	opacity: 0.85;
}
.banner {
	display: block;
	width: 100%;
	height: auto;
	max-width: 800px;
	margin-bottom: 1rem;
}
.form-container {
	max-width: 400px;
	margin: 40px auto;
	padding: 25px;
	border-radius: 12px;
	background: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 26px;
}

.form-group {
	margin-bottom: 15px;
}

.form-group label {
	display: block;
	font-weight: 600;
	margin-bottom: 5px;
}

.form-group input {
	width: 100%;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 16px;
}

.error {
	color: red;
	font-size: 14px;
}

.btn {
	width: 100%;
	padding: 12px;
	background: #2575fc;
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
	transition: 0.3s;
}

.btn:hover {
	background: #1a5dd1;
}
