* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f1d4d4;
    color: #ce4040;
    padding: 20px;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-size: 3rem;

}
h1,p {
    margin-bottom: 20px;
    text-align: center;
}